fastapi
uvicorn[standard]
pydantic
httpx
aiohttp
requests
asyncio
python-dotenv
python-libnmap
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-keycloak
rq
scikit-learn
pytest
locust
